* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.home {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 180px;
  &__last {
    // border: 1px solid black;
    border-radius: 8px;
    // max-width: 500px;
    padding: 8px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  &__title {
    font-size: 32px;
  }
  &__info {
    font-size: 24px;
  }
  &__stored {
    margin-left: 6px;
  }
  &__buttons {
    display: flex;
    column-gap: 24px;
  }
}
.ct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);

  padding-top: 48px;

  @media (max-width: 1400px) {
    padding: 0 0 48px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &__left {
      margin: auto;
      padding-top: 100px;
    }

    &__right {
      margin: auto;
    }
  }

  &__colors {
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    max-width: 310px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
  }
  &__color {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__desc {
    max-width: 400px;
    margin-bottom: 28px;
  }

  &__left {
    padding-left: 64px;
    margin-top: 64px;
  }
  &__button {
    margin-top: 12px;
  }
}

.resume-template {
  max-width: 800px;
  min-height: 800px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 32px 20px;
  background-color: white;
}

.angora {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;

  @media (max-width: 1400px) {
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 16px;
    }
  }
  @media (max-width: 900px) {
    width: 700px;
  }

  @media (max-width: 750px) {
    width: 600px;
  }

  @media (max-width: 630px) {
    width: 500px;
  }

  h1 {
    transition: 0.2s all;
  }

  p {
    word-wrap: break-word;
  }
}

.bp {
  height: auto;
  @media (max-width: 1400px) {
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 16px;
    }
  }

  @media (max-width: 900px) {
    width: 700px;

    .bp {
      &__skills,
      &__prosum {
        width: 160px;
      }
      &__edu,
      &__exp {
        width: 400px;
      }
      p {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 750px) {
    width: 600px;
  }

  @media (max-width: 630px) {
    width: 500px;
    .bp {
      &__skills,
      &__prosum {
        width: 140px;
      }
      &__edu,
      &__exp {
        width: 300px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  &__body {
    display: flex;
    column-gap: 12px;
  }

  &__skills,
  &__prosum {
    width: 200px;
  }

  &__edu,
  &__exp {
    width: 500px;
  }

  p {
    word-wrap: break-word;
  }
}

.template-box {
  position: relative;
  width: 800px;

  @media (max-width: 900px) {
    width: 700px;
  }

  @media (max-width: 750px) {
    width: 600px;
  }

  @media (max-width: 630px) {
    width: 500px;
  }

  &__btn {
    padding: 8px 9px;
    font-size: 16px;
    border: none;
    background-color: grey;
    border-radius: 50%;
    color: white;
    position: absolute;
    cursor: pointer;
  }
  &__left {
    left: -15px;
    top: 40%;
  }
  &__right {
    right: -15px;
    top: 40%;
  }
}

.create {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 18px;
  margin-top: 48px;
  padding: 0 24px;

  @media (max-width: 1400px) {
    padding: 0 0 48px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .create {
      padding: 0 12px;
      &__left {
        margin: auto;
        padding-left: 0;
        margin-top: 0;
      }

      &__right {
        margin: auto;
        margin-top: -100px;
      }
    }
  }

  &__left {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}

.progress-bar {
  min-width: 300px;
  &__block {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    width: 32px;
    height: 32px;
    background-color: aqua;
    border-radius: 50%;
  }
}

.section-controlls {
  display: flex;
  justify-content: space-between;

  &__next {
    margin-left: 40px;
  }
}

.export {
  margin-top: 48px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 24px;
  padding-right: 24px;

  @media (max-width: 1400px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 24px;

    .export {
      &__buttons {
        margin: auto;
      }
      &__preview {
        margin: auto;
        padding-bottom: 24px;
      }
    }
  }

  @media (max-width: 800px) {
    .export {
      &__btn {
        font-size: 12px;
        min-width: 60px;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    column-gap: 24px;
    margin-left: 24px;
  }
  &__preview {
    max-width: 800px;
    min-height: 800px;
  }
  &__block1 {
    display: flex;
    column-gap: 12px;
  }
  &__block2 {
    display: flex;
    column-gap: 12px;
  }
}

.popup {
  position: absolute;
  top: -110px;
  left: 0;
  padding: 12px;
  border-radius: 8px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.3);
  &__container {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 200px;
    max-height: 200px;
    padding: 12px;
  }
  &__block {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
  }
}

.sr {
  padding: 48px;

  &__list {
    display: flex;
    flex-direction: column;
    max-width: 900px;
  }

  &__item {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 6px;
    width: auto;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    position: relative;

    h4 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

.context-menu {
  position: absolute;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 10px 15px;
  background-color: white;
  user-select: none;
}

.import-resume {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  &__input {
    margin-left: 100px;
  }
}
