* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);

  margin-top: 48px;

  &__colors {
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    max-width: 310px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
  }
  &__color {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__desc {
    max-width: 400px;
    margin-bottom: 28px;
  }

  &__left {
    padding-left: 64px;
    margin-top: 64px;
  }
  &__button {
    margin-top: 12px;
  }
}

.resume-template {
  max-width: 800px;
  min-height: 800px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 32px 20px;
  background-color: white;
}

.angora {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    transition: 0.2s all;
  }
}

.bp {
  &__body {
    display: flex;
    column-gap: 12px;
  }
}

.template-box {
  position: relative;
  &__btn {
    padding: 8px 9px;
    font-size: 16px;
    border: none;
    background-color: grey;
    border-radius: 50%;
    color: white;
    position: absolute;
    cursor: pointer;
  }
  &__left {
    left: -15px;
    top: 40%;
  }
  &__right {
    right: -15px;
    top: 40%;
  }
}

.create {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 18px;
  margin-top: 48px;

  &__left {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  &__right {
  }
}

.progress-bar {
  min-width: 300px;
  &__block {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    width: 32px;
    height: 32px;
    background-color: aqua;
    border-radius: 50%;
  }
}

.section-controlls {
  display: flex;
  justify-content: space-between;

  &__next {
    margin-left: 40px;
  }
}

.export {
  margin-top: 48px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 24px;
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    column-gap: 24px;
    margin-left: 24px;
  }
  &__preview {
    max-width: 800px;
    min-height: 800px;
  }
  &__block1 {
    display: flex;
    column-gap: 12px;
  }
  &__block2 {
    display: flex;
    column-gap: 12px;
  }
}

.popup {
  position: absolute;
  top: -110px;
  left: 0;
  padding: 12px;
  border-radius: 8px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.3);
  &__container {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 200px;
    max-height: 200px;
    padding: 12px;
  }
  &__block {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
  }
}
